[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
grid2op = "*"
pandas = "*"
psutil = "*"
matplotlib = "*"
pybind11 = "*"
ipykernel = "*"
ipywidgets = "*"
numba = "*"
pathos = "*"
numpy = "==1.19.3"
sphinx = "*"

[requires]
python_version = "3.7"
